<section class="profile-section">
  {% include manual_publications.liquid %}
</section>

<section class="profile-section">
  {% include manual_projects.liquid %}
</section>

{% include profile_sections.liquid %}
