{% assign news = site.news | reverse %}

{% if news.size > 0 %}
<section class="profile-section news-section">
<h2>News</h2>
<div class="news">
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {% for item in news %}
        <tr>
          <th scope="row" style="width: 20%">
            {{ item.date | date: "%b %Y" }}
          </th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
</section>
{% endif %}

{% if page.permalink == "/" %}
  {% include home_sections.liquid %}
{% endif %}
